.about {
    cursor: pointer;
    height: 300px;
    &-inner {
        display: flex;
        background-color: rgba(0,0,0, 0.7);
        border-radius: 10px;
        overflow: auto;
        width: 100%;
        max-width: 500px;

        &-image {
            margin-right: 10px;
        }

        img {
            width: 200px;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        
        

        .about-info {
            // background: #000;
            margin: 10px;
            color: #fff;
            padding: 20px;
        }

            ul {
                padding-right: 20px;
            }
            
            h1 {
                display: block;
                text-align: center;
                font-size: 16px;
                border-bottom: 1px #fff solid;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        

        & p {
            display: block;
            color: #fff;
            display: block;
            font-size: 14px;

        }

        & strong {
            color: #fff;
            font-size: 12px;
        }
    }
}
   

   

    

    
