.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    display: block;
    color: #A62A00;
    font-weight: bold;
}

 p {
     font-size: 20px;
     color: #A62A00;
     font-weight: bold;
}
